<style>
table, tr, th, td {
  border: 1px solid black;
}
#row_head {
  font-style: italic;
  font-weight: normal;
}
#red_text {
  color: #FF0000;
}
#blue_text {
  color: #0000FF;
}
#light_green_bg {
  background-color: #66FF66;
}
#light_blue_bg {
  background-color: #00FFCC;
}
dt:hover + dd {
  background: purple;
}
.outer-content {
  padding: 20px;
  background-color: pink;
  width: 75%;
  text-align: center;
  position: relative;
}
.inner-content {
  top: 10px;
  right: 15%;
  background-color: #66FFFF;
  width: 75%;
  position: absolute;
}
img {
  float:left;
}
</style>
