<style>
table, tr, th, td {
  border: 1px solid black;
}
#row_head {
  font-style: italic;
  font-weight: normal;
}
#red_text {
  color: #FF0000;
}
#blue_text {
  color: #0000FF;
}
#light_green_bg {
  background-color: #66FF66;
}
#light_blue_bg {
  background-color: #00FFCC;
}
</style>
